<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="bagfile" default="2016-11-22-14-32-13_test_updated.bag" />

    <!-- Play rosbag record -->
    <node 
        pkg="rosbag"
        type="play"
        name="player"
        output="screen"
        args="--clock --loop $(find lidar_camera_calibration)/bagfiles/$(arg bagfile)" />

</launch>
